<div class="navbar-fixed" style="position: absolute; z-index: 0;" >
  <nav style="box-shadow: none;">
    <div class="right nav-wrapper">
      <a class='btn tooltipped z-depth' data-position="left" data-delay="50" data-tooltip="현재 페이지를 새로고침 합니다." href='#' onclick='location.reload(true); return false;' style="padding: 0px; margin: -1em 1em 0em 1em; border-radius:50%; background-color: white; "><img src="../../assets/새로고침.jpg" style="height: 38px; width: 38px; "/></a>
    </div>
  </nav>
</div>
<center>
  <p id="notice"><%= notice %></p>
  <div style="margin:1em 0em; text-align: center;">
    <!--Dropdown Trigger-->
    <a id="non-highlight" class='dropdown-button btn' href='#' data-activates='dropdown1'>경로</a>
    <!-- Dropdown Structure Start-->
      <ul id='dropdown1' class='dropdown-content' style="width:100%;">
      <form action="/taxiple/page4_routes" method="get">
        <li id="non-highlight"><input class="btn" type="submit" value="<%= current_user.univ.uni_route_1 %>" name="univ_route"></li>
        <li id="non-highlight"><input class="btn" type="submit" value="<%= current_user.univ.uni_route_4 %>" name="univ_route"></li>
        <% if !current_user.univ.uni_route_2.nil? %>
          <li id="non-highlight"><input class="btn" type="submit" value="<%= current_user.univ.uni_route_2 %>" name="univ_route"></li>
          <li id="non-highlight"><input class="btn" type="submit" value="<%= current_user.univ.uni_route_5 %>" name="univ_route"></li>
        <% elsif !current_user.univ.uni_route_3.nil? %>
          <li id="non-highlight"><input class="btn" type="submit" value="<%= current_user.univ.uni_route_3 %>" name="univ_route"></li>
          <li id="non-highlight"><input class="btn" type="submit" value="<%= current_user.univ.uni_route_6 %>" name="univ_route"></li>
        <% end %>
      </form>
      </ul>
    <!--Dropdown Structure End-->
    <a href="/taxiple/page4"><button id="non-highlight" class="btn waves-effect waves-light" type="submit" name="action">대기방</button></a>
    <a href="/taxiple/page4_time"><button id="highlight" class="btn waves-effect waves-light" type="submit" name="action">출발시간</button></a>
  </div>
</center>
<!--시간 순서대로 정렬--->
<% @mkroom.where(univ_id: current_user.univ_id).order("user_hour, user_minute").each do |mkroom| %> <!--대기중인 방을 출발 시간 대한 정보를 기준으로 분류해서 뿌리기 위한 루비문법-->
  <% if (mkroom.created_at.day * 24 * 60) + (mkroom.created_at.hour * 60) + mkroom.created_at.min > (@t - 16)%><!--유저가 만든 방이 현재 시각으로 부터 15분 전에 만든 방부터 대기방으로 안보여주기 위해-->
    <% @user_time_compare = mkroom.user_hour.to_i * 60 + mkroom.user_minute.to_i %>  
    <% if @now_time_compare < @user_time_compare %>
      <% if current_user.mk_room_id.nil? %>
        <form id="<%= mkroom.id %>" method="post" action="/taxiple/join">
        <input type='hidden' name='room_num' value='<%= mkroom.id %>'>
        <a href="javascript:{}" onclick="document.getElementById('<%= mkroom.id %>').submit();">     
        <!--<a href="/taxiple/join" onclick="join()"><!--방에 참여하기위해 방블록을 감싼 a 태그--->
      <% else %>
        <a href="#" onclick="reject()">
      <% end %>
      <div id="mkroom_num" class="<%= mkroom.id %>"></div><!--AJAX로 방에 참가할때 쓰는 JS코드를 쓰기위함--->
        <div class = "container">
          <div class="card grey lighten-5 z-depth-1">
            <div class = "row" style="margin:0px; padding: 5px;">
              <div class = "col-md-12">
                <div class = "panel panel-default room" style="margin: 0px 10px;">
                  <div class = "panel-heading">
                    <div style="width: 3.2em; float: left; margin: 5px 0px;">
                      <% mkroom.num_of_user_join.times do |x| %>
                        <img src="../../assets/남자.jpg" style="height: 1.3em; float:left;">
                      <% end %>
                      <% (mkroom.num_member_limit - mkroom.num_of_user_join).times do |x| %>
                        <img src="../../assets/빈사람.jpg" style="height: 1.3em; float:left;">
                      <% end %>
                    </div>
                    <% if @t < (mkroom.created_at.day * 24 * 60 + mkroom.user_hour * 60 + mkroom.user_minute) %>
                      <p style="font-size: 3px; float: left; margin: 0px 2px; padding-right: 6em;">시간 : <%= mkroom.user_hour%> : <%= mkroom.user_minute%>까지</p>
                    <% else %>
                      <p style="font-size: 3px; float: left; margin: 0px 2px;">시간 : <%= mkroom.user_hour%> : <%= mkroom.user_minute%>까지 (시간경과)&nbsp;&nbsp;&nbsp;<span style="color: red;">지금 바로</span></p>
                    <% end %>
                      <p style="color: gray; float:left; font-size: 0.6em; margin: 0px 2px;"><%= mkroom.course%></p>
                      <p style="font-size: 17px; margin: -0.5em 0em 0em 0em; color: orange; float:right;">></p>
                    <% if mkroom.girl_only == "girl"%><i class="fa fa-female" style = "color: red;"></i><%end%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    <% if current_user.mk_room_id.nil? %>
      </form>
    <% end %>
    <% end %>
  <% end %>
<% end %>
